@font-face {
    font-family: 'AshleyCapitaliSofia';
    src: local('AshleyCapitaliSofia'), url('ashleycapitalisofia.woff2') format('woff2'), url('ashleycapitalisofia.woff') format('woff'), url('ashleycapitalisofia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
